.container {
  width: 80%;
  padding: 20px 10px;
}

.user-card {
  max-width: 420px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #F3F3F3;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 255, .2);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  .user-card__container {
    padding: 10px;
  }

}

.user-card__last-line {
  display: flex;
  justify-content: space-between;
}

.container__users {
  max-width: 420px;

}

.users__text {
  text-align: right;
}


@media (max-width: 510px) {

  .users__text {
    text-align: center;
  }
}

@media (max-width: 330px) {

  .user-card__last-line {
    display: block;
  }
}
