* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: blue;
}

#root {
  display: flex;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  padding: 20px 10px;
}

.btn {
  padding: 5px 15px;
  color: white;
  background-color: #4B51EF;
  background-image: linear-gradient(315deg, #0d312f 0%, #493ec0 74%);
  border: none;
}

.btn:hover {
  background-color: #7275e6;
  background-image: linear-gradient(315deg, #4b60d7 0%, #5345e8 74%);
}

.btn:disabled {
  opacity: 0.5;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
